{% extends "base_skeleton.html" %}
{% block content %}


<!-- <div class="container">
    <div class="row">    
      <div class="twelve columns" style="margin-top: 8%">
        <h1 style='text-align: center'> About the webpage </h1>

      </div>
    </div>
    <br><br>

	<div class="row">    
	      <div class="one-half column">
	        <h3 style='text-align: center'>Languages Utilized</h3>
	        <ul>
			<li>Python     - API scraping and all statistical work</li>
			<li>SQL        - Majority of information storage</li>
			<li>Flask      - web application framework for webdesign</li>
			<li>Javascript - Minor usage for chart/graph generation</li>
			<li>HTML / CSS - The rest of the static web design</li>
			<li>Crontab    - Daily automated data generation</li>
			<li>R          - Minor statistical analysis and practice</li>	
	      </div>

	      <div class="one-half column">
	        <h3 style='text-align: center'> Project Explanation</h3>
	        <ul>
			<li>I apologize for how hiddeous my webpage is.  I spent some days learning CSS/HTML soon to learn how time consuming it can be.  I shifted away from perfecting the aestetics.  </li>
			<li>-Started with server set up and getting online.</li>
			<li>-Dynamic analysis of instagram accounts.  Pulled all information from an account called 'Hungrygrls' and organized it in databases for various graphical analysis.  Additionally created automated datascrapes to track the followers over time every 30 minutes.  All mediums of display of this work is currently offline due to a major hack of the account</li>
			<li>-Stubhub analysis.  Project on hold, waiting for stubhub to provide more insightful information on sales to users within their API.  Basic code for grabbing and organizing data has been written</li>
			<li>-Yahoo Developers API - Currently sifting through data provided by Yahoo Query Language to find trends in my two fantasy football leagues.  Yahoo's organization of their JSON responses is making basic information slightly more difficult to grab...</li>
			<li>-All of the charts presented throughout the webpage are product of <a href="www.highcharts.com">Highcharts.com</a> API</li>
	      </div>
	 </div>

			
 </div>  -->




{% endblock %}

