{% extends "base_skeleton.html" %}
{% block content %}
<div>
	<h1 id="title">Select fantasy league</h1> 
			
</div>
<style>	

#LowerMerion {
	 
	border-color:#000000;
	margin: 0 auto; 
	margin-top: 5%;
	width:325px;
	height:250px;
	text-align: center;
	line-height: 300px;

	font-size: 25pt;
	content: url("/static/fantasy_LM2.jpg"); z-index:-1;
}
#SigmaChi {

	border-color:#000000;
	margin: 0 auto; 
	margin-top: 5%;
	width:325px;
	height:250px;
	text-align: center;
	line-height: 300px;

	font-size: 25pt;
	content: url("/static/fantasy_EX2.jpg"); z-index:-1;
}

 </style>	





<div class="container">
    <div class="row">    
      <div class="twelve columns" style="margin-top: 8%">
        <h1 style='text-align: center'> Select a League </h1>

      </div>
    </div>
    <br><br>
    <div class="row">    
          <div class="one-half column">
            <h3 style='text-align: center'><a href='/LowerMerion'>Lower Merion</a></h3>  
            <div id='LowerMerion'></div>
          </div>

          <div class="one-half column">
            <h3 style='text-align: center'> <a href='/SigmaChi'>Sigma Chi</a> </h3>
             <div id='SigmaChi'></div>
          </div>
     </div>
<br><br><br>
 

</div>

<div class="container">
    
    <div class="row">

      <div class="twelve columns">
       
     
    </div> 
  </div>
</div>

<div class="container">
    
    <div class="row">

      <div class="twelve columns">
       
     
    </div> 
  </div>
</div>


</div>




<!-- <div class="col span_1_of_2"> 
	<h1 id="title">Lower Merion </h1>
	<a href='/LowerMerion'>
	<div id="LowerMerion" >				
	</div>
	</a>
</div>

<div class="col span_1_of_2"> 
	<h1 id="title">Sigma Chi</h1>
	<a href='/SigmaChi'>
	<div id="SigmaChi" >				
	</div>
	</a>
</div>


<style id="insta">.ig-b- { display: inline-block; }
.ig-b- img { visibility: hidden; }
.ig-b-:hover { background-position: 0 -60px; } .ig-b-:active { background-position: 0 -120px; }
.ig-b-v-24 { width: 175px; height: 30px; background: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24.png) no-repeat 0 0; }
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min--moz-device-pixel-ratio: 2), only screen and (-o-min-device-pixel-ratio: 2 / 1), only screen and (min-device-pixel-ratio: 2), only screen and (min-resolution: 192dpi), only screen and (min-resolution: 2dppx) {
.ig-b-v-24 { background-image: url(//badges.instagram.com/static/images/ig-badge-view-sprite-24@2x.png); background-size: 160px 178px; } }</style>
<a href="http://instagram.com/hungrygrls?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a> -->

{% endblock %}