{% extends "base_skeleton.html" %}
{% block content %}

<style> 

#hungrygrls {
     
    border-color:#000000;
    margin: 0 auto; 
    margin-top: 5%;
    width:275px;
    height:275px;
    text-align: center;
    line-height: 300px;
    font-size: 25pt;
    content: url("/static/hungrygrls.png"); z-index:-1;
}
#Likes {
    
    border-color:#000000;
    margin: 0 auto; 
    margin-top: 5%;
    width:275px;
    height:275px;
    text-align: center;
    line-height: 300px;
    font-size: 25pt;
    content: url(); z-index:-1;
}


</style>   
<br>

<div class="container">
    <div class="row">    
      <div class="twelve columns" style="margin-top: 8%">
        <h1 style='text-align: center'> Instagram Analytics </h1>

      </div>
    </div>
    <br><br>
    <div class="row">    
          <div class="one-half column">
            <h3 style='text-align: center'><a href='/statistics_followers'>Hungrygrls</a></h3>
            
            <div id='hungrygrls'></div>
          </div>

          <div class="one-half column">
            <h3 style='text-align: center'> <a href='/construction'>Other User Login</a> </h3>
            
          </div>
     </div>
<br><br>
 

</div>

<div class="container">
    
    <div class="row">

      <div class="twelve columns">
       
     
    </div> 
  </div>
</div>

<div class="container">
    
    <div class="row">

      <div class="twelve columns">
       
     
    </div> 
  </div>
</div>


</div>





{% endblock %}